/* wowjob-ui-markdown */
.wowjob-ui-markdown {
  resize: vertical;
  max-width: 100%;
  width: 100%;
  border-width: 0.125rem;
  border-style: solid;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  min-height: 5rem;
}

.toastui-editor-defaultUI .toastui-editor {
  zoom: 1.5;
}
